<!--
  Copyright (c) 2013.
  University of Primorska, Andrej Marušič Institute. All rights reserved.

  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met: 

  1. Redistributions of source code must retain the above copyright notice, this
     list of conditions and the following disclaimer. 
  2. Redistributions in binary form must reproduce the above copyright notice,
     this list of conditions and the following disclaimer in the documentation
     and/or other materials provided with the distribution. 

  Project eOskrba (http://eOskrba.si) was financed by Slovenian Research
  Agency and Ministry of Health of Republic of Slovenia.

  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
  A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
  OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
  SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
  LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
  THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
  OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<div id="activiti_form_holder"> 

	<p>Žal niste pravilno odgovorili na vsa vprašanja. Prosimo, da še enkrat preberete vsebine, iz katerih so vprašanja ter ponovno odgovorite na vprašanja. Hvala!</p>
	</br>
	
	<h2>
		<a href="#">Vprašalnik - prehrana</a>
	</h2>
	<div>

		<table>

			<tr><td style="width: 120px;"></td><td></td></tr>
			<tr>
				<td>
					<p>Ali naše telo za normalno delovanje potrebuje kuhinjski sladkor?</p>
				</td>

				#set($path = $items_openEHR-EHR-EVALUATION_hu_koraki_03_v1__data_at0001__items_at0003__items_at0006__value)
				<td #if ($path == '0') style="color:Green;vertical-align:middle" #else style="color:FireBrick;vertical-align:middle" #end>
					#if ($path == '1')
						Da
					#elseif ($path == '0')						
						Ne
					#end
				</td>				
			</tr>			
			<tr>
				<td>
					<p>Kakšna žita in žitne izdelke je priporočeno uživati?</p>
				</td>

				#set($path = $items_openEHR-EHR-EVALUATION_hu_koraki_03_v1__data_at0001__items_at0003__items_at0007__value)
				<td #if ($path == '0') style="color:Green;vertical-align:middle" #else style="color:FireBrick;vertical-align:middle" #end>
					#if ($path == '0')
						Polnovredna (nepredelana) kot so polnozrnati kruh in izdelki iz polnozrnate moke, izdelki iz ajde, kaše in kosmiči iz ovsa, rži, pire, ječmena, naravni (neoluščeni) riž, testenine iz polnozrnate moke
					#elseif ($path == '1')						
						Predelana kot so beli kruh, testenine iz bele moke, oluščeni riž
					#end
				</td>				
			</tr>
			<tr>
				<td>
					<p>Približno koliko žlic kuhanega riža predstavlja 4 enote škrobnega (ogljikohidratnega) živila?</p>
				</td>

				#set($path = $items_openEHR-EHR-EVALUATION_hu_koraki_03_v1__data_at0001__items_at0003__items_at0011__value)
				<td #if ($path == '0') style="color:Green;vertical-align:middle" #else style="color:FireBrick;vertical-align:middle" #end>
					#if ($path == '1')
						2 žlici
					#elseif ($path == '2')						
						4 žlice
					#elseif ($path == '0')
						8 žlic
					#end
				</td>				
			</tr>			
			
		</table>

	</div>			

	<h2>
		<a href="#">Vprašalnik - gibanje</a>
	</h2>
	<div>

		<table>
			<tr><td style="width:120px;"></td><td></td></tr>
			<tr>
				<td>
					<p>Katera trditev velja za osnovno strukturo vadbene enote?</p>
				</td>

				#set($path = $items_openEHR-EHR-EVALUATION_hu_koraki_03_v1__data_at0001__items_at0004__items_at0008__value)
				<td #if ($path == '0') style="color:Green;vertical-align:middle" #else style="color:FireBrick;vertical-align:middle" #end>
					#if ($path == '2')
						Glavni del vadbe mora trajati vsaj eno uro
					#elseif ($path == '0')						
						Ogrevanje vsebuje enostavne vaje kot so hoja, korakanje na mestu, kroženje z rokami
					#elseif ($path == '1')
						Ogrevanje je bolj pomembno kot ohlajanje
					#end
				</td>				
			</tr>
			<tr>
				<td>
					<p>Katera trditev NE velja za držo in dihanje med vadbo?</p>
				</td>

				#set($path = $items_openEHR-EHR-EVALUATION_hu_koraki_03_v1__data_at0001__items_at0004__items_at0009__value)
				<td #if ($path == '0') style="color:Green;vertical-align:middle" #else style="color:FireBrick;vertical-align:middle" #end>
					#if ($path == '0')
						Pravilno dihanje je plitko in hitro
					#elseif ($path == '2')						
						Med vadbo dihamo enakomerno in ne zadržujemo sape
					#elseif ($path == '1')
						Pravilna drža zmanjša nepotreben pritisk na mišice in sklepe
					#end
				</td>				
			</tr>
			<tr>
				<td>
					<p>Katera trditev velja za ogrevanje?</p>
				</td>

				#set($path = $items_openEHR-EHR-EVALUATION_hu_koraki_03_v1__data_at0001__items_at0004__items_at0010__value)
				<td #if ($path == '0') style="color:Green;vertical-align:middle" #else style="color:FireBrick;vertical-align:middle" #end>
					#if ($path == '1')
						Če smo sicer zelo aktivni, lahko ogrevanje izpustimo
					#elseif ($path == '2')						
						Za ogrevanje nujno potrebujemo vadbene pripomočke
					#elseif ($path == '0')
						Z ogrevanjem preprečujemo bolečine in poškodbe pri vadbi
					#end
				</td>				
			</tr>
			<tr>
				<td>
					<p>Za vaje za raztezanje velja naslednja trditev:</p>
				</td>

				#set($path = $items_openEHR-EHR-EVALUATION_hu_koraki_03_v1__data_at0001__items_at0004__items_at0019__value)
				<td #if ($path == '0') style="color:Green;vertical-align:middle" #else style="color:FireBrick;vertical-align:middle" #end>
					#if ($path == '2')
						Pri ohlajanju raztegujemo tiste mišice, ki jih pri vadbi nismo toliko uporabljali
					#elseif ($path == '0')						
						Vaje za raztezanje izvajamo do občutka raztega
					#elseif ($path == '1')
						Vaje za raztezanje izvajamo do občutka rahle bolečine
					#end
				</td>				
			</tr>			
		
				

		</table>

	</div>	
	
</div>

<p>&nbsp;</p>

<script type="text/javascript">
   activiti_form_onLoad();
</script>
