<!--
  Copyright (c) 2013.
  University of Primorska, Andrej Marušič Institute. All rights reserved.

  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met: 

  1. Redistributions of source code must retain the above copyright notice, this
     list of conditions and the following disclaimer. 
  2. Redistributions in binary form must reproduce the above copyright notice,
     this list of conditions and the following disclaimer in the documentation
     and/or other materials provided with the distribution. 

  Project eOskrba (http://eOskrba.si) was financed by Slovenian Research
  Agency and Ministry of Health of Republic of Slovenia.

  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
  A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
  OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
  SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
  LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
  THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
  OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<div id="activiti_form_holder"> 

	<p>Žal niste pravilno odgovorili na vsa vprašanja. Prosimo, da še enkrat preberete vsebine, iz katerih so vprašanja ter ponovno odgovorite na vprašanja. Hvala!</p>
	</br>
	
	<h2>
		<a href="#">Vprašalnik - prehrana</a>
	</h2>
	<div>

		<table>

			<tr><td style="width: 120px;"></td><td></td></tr>
			<tr>
				<td>
					<p>Česa je potrebno na dan zaužiti več, sadja ali zelenjave?</p>
				</td>

				#set($path = $items_openEHR-EHR-EVALUATION_hu_koraki_04_v1__data_at0001__items_at0003__items_at0006__value)
				<td #if ($path == '0') style="color:Green;vertical-align:middle" #else style="color:FireBrick;vertical-align:middle" #end>
					#if ($path == '0')
						Zelenjave
					#elseif ($path == '1')						
						Sadja
					#end
				</td>				
			</tr>			
			<tr>
				<td>
					<p>Kaj predstavljajo 4 enote zelenjave?</p>
				</td>

				#set($path = $items_openEHR-EHR-EVALUATION_hu_koraki_04_v1__data_at0001__items_at0003__items_at0007__value)
				<td #if ($path == '0') style="color:Green;vertical-align:middle" #else style="color:FireBrick;vertical-align:middle" #end>
					#if ($path == '0')
						1 skleda solate + 1 lonček brokolija + 2 paradižnika + 1 čebula
					#elseif ($path == '1')						
						1 skleda solate + 1 paradižnik + 2 papriki
					#end
				</td>				
			</tr>	
			<tr>
				<td>
					<p>Sadje in zelenjava...</p>
				</td>

				#set($path = $items_openEHR-EHR-EVALUATION_hu_koraki_04_v1__data_at0001__items_at0003__items_at0008__value)
				<td #if ($path == '0') style="color:Green;vertical-align:middle" #else style="color:FireBrick;vertical-align:middle" #end>
					#if ($path == '1')
						Nimata koristi za zdravje
					#elseif ($path == '0')						
						Vsebujeta ogromno zaščitnih snovi, ki varujejo pred nastankom kroničnih nenalezljivih bolezni
					#end
				</td>				
			</tr>				
			
		</table>

	</div>			

	<h2>
		<a href="#">Vprašalnik - gibanje</a>
	</h2>
	<div>

		<table>
			<tr><td style="width:120px;"></td><td></td></tr>
			<tr>
				<td>
					<p>Katera trditev velja za ohlajanje?</p>
				</td>

				#set($path = $items_openEHR-EHR-EVALUATION_hu_koraki_04_v1__data_at0001__items_at0004__items_at0015__value)
				<td #if ($path == '0') style="color:Green;vertical-align:middle" #else style="color:FireBrick;vertical-align:middle" #end>
					#if ($path == '1')
						Če je  vadba zmerno intenzivna, ohlajanje ni potrebno
					#elseif ($path == '0')						
						Z ohlajanjem preprečujemo bolečine in neprijeten občutek v mišicah
					#elseif ($path == '2')
						Za ohlajanje izvajamo vaje za mišično moč
					#end
				</td>				
			</tr>
			<tr>
				<td>
					<p>Katera trditev velja za ravnotežje?</p>
				</td>

				#set($path = $items_openEHR-EHR-EVALUATION_hu_koraki_04_v1__data_at0001__items_at0004__items_at0016__value)
				<td #if ($path == '0') style="color:Green;vertical-align:middle" #else style="color:FireBrick;vertical-align:middle" #end>
					#if ($path == '1')
						Dobro ravnotežje ni tako pomembno pri hoji ali teku
					#elseif ($path == '2')						
						Vaje za ravnotežje niso priporočljive pri starejših zaradi nevarnosti padcev
					#elseif ($path == '0')
						Ravnotežje lahko preverimo s testom stoje na eni nogi
					#end
				</td>				
			</tr>	
			<tr>
				<td>
					<p>Sproščanje:</p>
				</td>

				#set($path = $items_openEHR-EHR-EVALUATION_hu_koraki_04_v1__data_at0001__items_at0004__items_at0017__value)
				<td #if ($path == '0') style="color:Green;vertical-align:middle" #else style="color:FireBrick;vertical-align:middle" #end>
					#if ($path == '0')
						S sproščanjem se umirimo in sprostimo napetost v mišicah
					#elseif ($path == '1')						
						Za sproščanje ne smemo uporabiti masaže
					#elseif ($path == '2')
						Sodi v začetni del vadbe
					#end
				</td>				
			</tr>				

		</table>

	</div>	
	
</div>

<p>&nbsp;</p>

<script type="text/javascript">
   activiti_form_onLoad();
</script>
