<!--
  Copyright (c) 2013.
  University of Primorska, Andrej Marušič Institute. All rights reserved.

  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met: 

  1. Redistributions of source code must retain the above copyright notice, this
     list of conditions and the following disclaimer. 
  2. Redistributions in binary form must reproduce the above copyright notice,
     this list of conditions and the following disclaimer in the documentation
     and/or other materials provided with the distribution. 

  Project eOskrba (http://eOskrba.si) was financed by Slovenian Research
  Agency and Ministry of Health of Republic of Slovenia.

  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
  A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
  OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
  SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
  LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
  THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
  OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
	<p>Spodaj so vsebine za korak 4, ki so razdeljene po zavihkih. Ko jih boste prebrali, kliknite spodaj na gumb 'Nadaljuj'. Na podlagi teh vsebin boste kasneje dobili vprašanja za napredovanje v naslednji korak. Vsebine si lahko kasneje ogledate tudi v zavihku 'Izobraževanje'.</p>
	</br>
	
<div id="activiti_form_holder">

	<h3><a href="#">Vsebine - Prehrana - Sadje in zelenjava</a></h3>
	<div style="font-family: arial, sans-serif;">
		<center>
			<span style="font-size: 14pt;"><font color="#FF8040"><b>SADJE IN ZELENJAVA</b></font></span>
		</center>
		<p align="justify">
		Prebivalci Slovenije zaužijemo <b>75 % količine sadja in zelenjave oziroma 100 g na dan manj kot je priporočena najmanjša, ki še pomembno preventivno vpliva</b> na zmanjšanje pojavnosti kroničnih nenalezljivih bolezni (predvsem srčno žilnih bolezni in nekaterih vrst raka).<br></br>
		Če bi zaužili priporočenih 400 g na dan, bi se zmanjšalo tveganje za:</br>
		
			
				&nbsp;&nbsp;- za srčno žilne bolezni za <b>10 %</b>, </br>
			
				&nbsp;&nbsp;- za možgansko kap za <b>6 %</b> in </br>
			
				&nbsp;&nbsp;- za nekatere vrste raka za <b>6 %</b>.</br></br>
		
		<table width="100%" border="0">
		<tr>
			<td valign="top" align="center" style="width:50px;">
			•
			</td>
			<td>
				Sadje in zelenjava spadata med biološko visoko vredna živila z nizko energijsko gostoto. </td>
		</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>
				Vsebujeta veliko vitaminov, mineralov, antioksidantov, prehranske vlaknine in še številne druge zaščitne snovi. 
			</td>
		</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>
				Priporočena zaužita količina sadja/zelenjave vpliva na <b>boljši imunski odziv in zmanjšuje tveganje za nastanek bolezni srca in ožilja, različnih vrst raka ter možgansko kap</b>. Zaradi nizke energijske gostote pomagata pri <b>zmanjševanju in vzdrževanju telesne mase</b>. 
				</td>
		</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>
				V vsakodnevno prehrano je potrebno vključiti oboje, saj sadje ne more nadomestiti zelenjave in obratno. 
			</td>
		</tr>
	</table>
	</p>
		<center>
			<h4>
				<b><font color="#FF8040">Javno zdravstveni pomen sadja in zelenjave</font></b></h4>
		</center>
		<table width="100%" border="0">
		<tr>
			<td valign="top" align="center" style="width:50px;">
			•
			</td>
			<td>
				Uživanje zelenjave in sadja pri uravnoteženi prehrani ima velik pomen na optimalno delovanje organizma.
			</td>
		</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>
				Po podatkih World Health Report 2002 naj bi nezadostno uživanje zelenjave in sadja povzročilo:
			</td>
		</tr>
	</table>
		
			<table width="100%" border="0">
		<tr>
		<td valign="top" align="center" style="width:30px;">
			&nbsp;
			</td>
			<td valign="top" align="center" style="width:50px;">
			•
			</td>
			<td>
				19% raka na prebavilih
				</td>
		</tr>
		<tr>
		<td valign="top" align="center" style="width:30px;">
			&nbsp;
			</td>
			<td align="center" valign="top">
			•
			</td>
			<td>
				31% ishemične bolezni srca
				</td>
		</tr>
		<tr>
		<td valign="top" align="center" style="width:30px;">
			&nbsp;
			</td>
			<td align="center" valign="top">
			•
			</td>
			<td>
				povzročilo 2,7 milijonov smrti na leto.
			</td>
		</tr>
	</table>
		
		Strokovnjaki Evropske unije pripisujejo kar 4,3% skupnih bolezni pri moških in 3,4% pri ženskah nezadostnemu uživanju zelenjave in sadja.
		</p>
</div>


<h3><a href="#">Vsebine - Prehrana - Sadje</a></h3>
	<div style="font-family: arial, sans-serif;">
	
	<center>
		<span style="font-size: 14pt;"><font color="#FF8040"><b>SADJE</b></font></span>
	</center>
	</br>
	<center>
		<b><font color="#FF8040">Zaščitni učinki sadja</font></b></center>
	<p align="justify">
		Številne raziskave potrjujejo povezanost uživanja sadja z zmanjšanim tveganjem za nastanek <b>raka</b>:</span>
		<table width="100%" border="0">
		<tr>
			<td valign="top" align="center" style="width:50px;">
			•
			</td>
			<td>
				<b>pljuč, </b></span></span></br>
			</td>
		</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>
				<b>požiralnika, </b></span></span>
				</td>
		</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>
				<b>žrela, </b></span></span>
			</td>
		</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>
				<b>trebušne slinavke, </b></span></span>
				</td>
		</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>
				<b>dojke in debelega črevesa</b>. </span></span>
		</td>
		</tr>
	</table>
	</p>
		<p align="justify">
		Raziskave navajajo tudi sinergistično delovanje posameznih komponent v sadju, kot so <b>vitamini, minerali, antioksidanti, prehranska vlaknina in sekundarne zaščitne rastlinske snovi</b>, ki preprečujejo nastanek <b>rakavih obolenj ter bolezni srca in ožilja</b>.</span></span><br>
		</p>
		<table align="center" width="50%" bordercolor="#000000" border="1" bgcolor="#FFEAC1">
			<tbody>
				<tr>
					<!-- Row 1 -->
					<td align="center">
						<b>Sadje</b></td>
					<!-- Col 1 -->
					<td align="center">
						<b>Vsebnost prehranske vlaknine<br>
						(g/100 g)</b></td>
					<!-- Col 2 -->
					<td align="center">
						<b>Vitamini / minerali</b></td>
					<!-- Col 3 -->
				</tr>
				<tr>
					<!-- Row 2 -->
					<td align="center">
						Jabolko (s kožico)</td>
					<!-- Col 1 -->
					<td align="center">
						1,8</td>
					<!-- Col 2 -->
					<td align="center">
						Fol, Vit.K / Ca, K, Mg, Na</td>
					<!-- Col 3 -->
				</tr>
				<tr>
					<!-- Row 3 -->
					<td align="center">
						Suha marelica</td>
					<!-- Col 1 -->
					<td align="center">
						5,0</td>
					<!-- Col 2 -->
					<td align="center">
						Vit.K / Ca, Mg, P</td>
					<!-- Col 3 -->
				</tr>
				<tr>
					<!-- Row 4 -->
					<td align="center">
						Črni ribez</td>
					<!-- Col 1 -->
					<td align="center">
						2,5</td>
					<!-- Col 2 -->
					<td align="center">
						C, Vit.K / Ca, K, Mg, P</td>
					<!-- Col 3 -->
				</tr>
				<tr>
					<!-- Row 5 -->
					<td align="center">
						Borovnica</td>
					<!-- Col 1 -->
					<td align="center">
						2,0</td>
					<!-- Col 2 -->
					<td align="center">
						Fol, C, Vit.K / Ca, K, Mg, P</td>
					<!-- Col 3 -->
				</tr>
				<tr>
					<!-- Row 6 -->
					<td align="center">
						Dateljni</td>
					<!-- Col 1 -->
					<td align="center">
						1,4</td>
					<!-- Col 2 -->
					<td align="center">
						Ca, K, Mg</td>
					<!-- Col 3 -->
				</tr>
				<tr>
					<!-- Row 7 -->
					<td align="center">
						Sveže fige</td>
					<!-- Col 1 -->
					<td align="center">
						1,2</td>
					<!-- Col 2 -->
					<td align="center">
						Ca, Mg, P</td>
					<!-- Col 3 -->
				</tr>
				<tr>
					<!-- Row 8 -->
					<td align="center">
						Pomaranča</td>
					<!-- Col 1 -->
					<td align="center">
						2,7</td>
					<!-- Col 2 -->
					<td align="center">
						Fol, C, Vit.K / K</td>
					<!-- Col 3 -->
				</tr>
				<tr>
					<!-- Row 9 -->
					<td align="center">
						Breskev</td>
					<!-- Col 1 -->
					<td align="center">
						1,7</td>
					<!-- Col 2 -->
					<td align="center">
						Fol, C / Ca, K, Mg, P</td>
					<!-- Col 3 -->
				</tr>
				<tr>
					<!-- Row 10 -->
					<td align="center">
						Hruška (s kožico)</td>
					<!-- Col 1 -->
					<td align="center">
						3,3</td>
					<!-- Col 2 -->
					<td align="center">
						Fol, C, Vit.K / Ca, K, Mg, P</td>
					<!-- Col 3 -->
				</tr>
				<tr>
					<!-- Row 11 -->
					<td align="center">
						Suhe slive</td>
					<!-- Col 1 -->
					<td align="center">
						4,6</td>
					<!-- Col 2 -->
					<td align="center">
						Vit.K / Ca, Fe, Mg, P</td>
					<!-- Col 3 -->
				</tr>
				<tr>
					<!-- Row 12 -->
					<td align="center">
						Rozine</td>
					<!-- Col 1 -->
					<td align="center">
						0,6</td>
					<!-- Col 2 -->
					<td align="center">
						Fol, C /Mg, P</td>
					<!-- Col 3 -->
				</tr>
				<tr>
					<!-- Row 13 -->
					<td align="center">
						Maline</td>
					<!-- Col 1 -->
					<td align="center">
						2,0</td>
					<!-- Col 2 -->
					<td align="center">
						Fol, C, Vit.K / Ca, Mg</td>
					<!-- Col 3 -->
				</tr>
				<tr>
					<!-- Row 14 -->
					<td align="center">
						Jagode</td>
					<!-- Col 1 -->
					<td align="center">
						1,0</td>
					<!-- Col 2 -->
					<td align="center">
						C, Vit.K / Ca, Mg, P</td>
					<!-- Col 3 -->
				</tr>
			</tbody>
		</table>
		<br>
		<center>
			<h4>
				<b><font color="#FF8040">Antikancerogeno delovanje</font></b></h4>
		</center>
		<p align="justify">
		<b>Pomembna skupina potencialnih antikancerogenih snovi so tudi vitamini z antioksidativno aktivnostjo.</b></br>
		
			
				<table width="100%" border="0"><tr><td valign="top" align="center" style="width:50px;">•</td><td>Vitamin A: zelo pomemben pri celičnih procesih, ki so povezani z nastankom raka.</br>
			
				</td></tr><tr><td align="center" valign="top">•</td><td>Vitamin C iz sadja je povezan z manjšim tveganjem raka, zlasti raka na požiralniku, želodcu in debelem črevesu. Rezultati raziskav so pokazali, da uživanje vitamina C v obliki prehranskega dopolnila ni zmanjšalo pogostosti raka na želodcu in debelem črevesu.</br>
		</td></tr></table>
		</p>
		<center>
			<h4>
				<font color="#FF8040">Priporočila</font></h4>
		</center>
		<p align="justify">
		V dnevno prehrano moramo vključiti <b>150 - 250 g sadja</b>, odvisno od dnevnih energijskih potreb. Uživamo sezonsko in lokalno pridelano sadje. Uporabljamo primerne postopke in čas priprave za ohranitev hranilnih snovi v sadju. Zaradi vsebnosti posameznih zaščitnih snovi, ki so v tipični barvi sadja, priporočamo uživanje različnih barv sadja (zelene, bele, oranžno-rumene, rdeče in modro-vijolične).</br>
		
			
				<table width="100%" border="0"><tr><td valign="top" align="center" style="width:50px;">•</td><td>Za dnevni energijski vnos 1200 kcal: 2 enoti na dan</br>
			
				</td></tr><tr><td align="center" valign="top">•</td><td> Za dnevni energijski vnos 1500 kcal: 2,5 enote na dan.</br>
			
				</td></tr><tr><td align="center" valign="top">•</td><td>Za dnevni energijski vnos 1800 kcal: 3 enote na dan.</br>
		</td></tr></table>
		<center>
		<div align="left" style="width:520px;height:180px;border:2px solid orange;">
			<b>1 enota predstavlja: </b> 
			
				
				&nbsp;&nbsp;- 	1 srednje veliko jabolko ali hruška, breskev, pomaranča,</br>
				
					&nbsp;&nbsp;- manjši plod banane, </br>
				
					&nbsp;&nbsp;- 3 mandarine ali kiviji, </br>
				
					&nbsp;&nbsp;- 1 skodelica grozdja ali češenj ali malin ali jagod, </br>
				
					&nbsp;&nbsp;- 1,5 dl soka iz sveže iztisnjenega sadja brez dodanega sladkorja.</br>
			
		</div>
		</center>
		</br>

	</div>

	<h3><a href="#">Vsebine - Prehrana - Zelenjava</a></h3>
	<div style="font-family: arial, sans-serif;">
		<center>
			<span style="font-size: 14pt;"><font color="#FF8040"><b>ZELENJAVA</b></font></span>
		</center>
		
		<center>
			<h4>
				<b><font color="#FF8040">Zelenjava je odličen vir</font></b></h4>
		</center>
		<p align="justify">
			
				
					<table width="100%" border="0"><tr><td valign="top" align="center" style="width:50px;">•</td><td> beta-karotena, </br>
				
					</td></tr><tr><td align="center" valign="top">•</td><td>  vitaminov C, B1, B6, folata, </br>
				
					</td></tr><tr><td align="center" valign="top">•</td><td>  kalcija, kalija, </br>
				
					</td></tr><tr><td align="center" valign="top">•</td><td> drugih antioksidantov, </br>
				
					</td></tr><tr><td align="center" valign="top">•</td><td>  prehranske vlaknine ter </br>
				
					</td></tr><tr><td align="center" valign="top">•</td><td>  številnih sekundarnih rastlinskih zaščitnih snovi, ki varujejo pred nastankom kroničnih nenalezljivih bolezni; te so: karotenoidi, fitosteroli, glukozinolati, flavonoidi, fenolne kisline, inhibitorji proteaze, monoterpeni, fitoestrogeni in žveplove spojine.</br>
			</td></tr></table>
		</p>
			<center>
				<h4>
					<b><font color="#FF8040">Zaščitni učinek zelenjave</font></b></h4>
			</center>
			<p align="justify">
			
				
					<table width="100%" border="0"><tr><td valign="top" align="center" style="width:50px;">•</td><td> Zaščitne snovi v zelenjavi lahko zmanjšajo posamezne dejavnike tveganja za prezgodnjo obolevnost in umrljivost. </br>
				
					</td></tr><tr><td align="center" valign="top">•</td><td>  Prehrana z veliko zelenjave ima zaradi nižje energijske gostote tudi vpliv na regulacijo normalne telesne mase in preprečevanje prekomerne prehranjenosti in debelosti. </br>
				
					</td></tr><tr><td align="center" valign="top">•</td><td>  Rastline iz družine križnic (brokoli, ohrovt, brstični ohrovt, zelje, kitajsko zelje, cvetača, repa in koleraba) vsebujejo številne fitokemične snovi, ki zaradi antioksidativnega delovanja ščitijo pred boleznimi srca in ožilja, sladkorno boleznijo ter več vrstami raka, posebno pred rakom pljuč. </br>
				
					</td></tr><tr><td align="center" valign="top">•</td><td>  Križnice so tudi bogat vir beta-karotena, vitaminov B1 in C, kalcija, železa, kalija in prehranske vlaknine. </br>
				
					</td></tr><tr><td align="center" valign="top">•</td><td> Paradižnik je pomemben vir likopena (barvilo karotenoidov), ki preprečuje nastanek srčno žilnih bolezni in raka. Likopen je v maščobi topna snov, ki se bolje absorbira kuhana v maščobi (npr. paradižnikova omaka z oljčnim oljem). </br>
				
					</td></tr><tr><td align="center" valign="top">•</td><td>  Sulfide, kot npr. alicin, vsebujejo česen in druge čebulnice, ki imajo antimikrobne, antikancerogene, antioksidativne in protivnetne učinke.</br>
				
					</td></tr><tr><td align="center" valign="top">•</td><td>  Večja količina zaužitih izotiociantov pospeši vezavo in izločanje karcinogenih snovi, kar zmanjša tveganje raka na črevesju. Raziskave kažejo, da tudi čebula in česen kažeta zaščitni vpliv pri nastanku želodčnega raka zaradi antibakterijskega in antioksidativnega delovanja (selen in kvercetin). </br>
				
					</td></tr><tr><td align="center" valign="top">•</td><td> Izoflavoni oziroma fitoestrogeni v stročnicah, še posebno v soji, imajo varovalni vpliv pri nastanku raka na dojki in prostati. </br>
				
					</td></tr><tr><td align="center" valign="top">•</td><td> Korenje vsebuje veliko beta karotena, ki je prekurzor vitamina A. Rezultati epidemioloških študij kažejo, da karotenoidi, neodvisno od svojih značilnosti kot provitamini A, zmanjšujejo tveganje obolevanja za rakom na pljučih, požiralniku in želodcu. </br>
			</td></tr></table>
			</p>
			<center>
				<h4>
					<b><font color="#FF8040">Priporočila</font></b></h4>
			</center>
			<p align="justify">
			Priporočila za zelenjavo so višja kot za sadje, saj so opravljene epidemiološke raziskave v primerjavi s sadjem pokazale močnejši zaščitni učinek zelenjave. Tako moramo v dnevno prehrano vključiti <b>250 - 400 g zelenjave</b>, odvisno od dnevnih energijskih potreb.</br>
			
				
					<table width="100%" border="0"><tr><td valign="top" align="center" style="width:50px;">•</td><td> Za dnevni energijski vnos 1200 kcal: 3 enote na dan.</br>
				
					</td></tr><tr><td align="center" valign="top">•</td><td> Za dnevni energijski vnos 15000 kcal: 3,5 enote na dan.</br>
				
					</td></tr><tr><td align="center" valign="top">•</td><td> Za dnevni energijski vnos 1800 kcal: 4 enote na dan.</br>
					</td></tr></table>
			</p>
			<center>
			<div align="left" style="width:540px;height:170px;border:2px solid orange;">
				<b>1 enota predstavlja: </b></br>
				
					
					&nbsp;&nbsp;- 	1 lonček brokolija ali brstičnega ohrovta ali kisle repe ali kislega zelja,</br>
					
					&nbsp;&nbsp;- 	1 skleda solate ali regrata ali radiča ali motovilca, </br>
					
					&nbsp;&nbsp;- 	2 paradižnika ali 2 papriki, </br>
					
					&nbsp;&nbsp;- 	četrtino lončka graha, </br>
					
					&nbsp;&nbsp;- 	1 manjša rdeča pesa ali čebula,</br>
					
					&nbsp;&nbsp;- 	1,5 dl soka iz sveže iztisnjene zelenjave. </br>
				
			</div>
			</center>
			<p align="justify">
					<table width="100%" border="0"><tr><td valign="top" align="center" style="width:50px;">•</td><td> Uživamo sezonsko in lokalno pridelano zelenjavo.</br>
				
					</td></tr><tr><td align="center" valign="top">•</td><td> Dnevno zaužijemo tako surovo kot tudi kuhano zelenjavo. </br>
				
					</td></tr><tr><td align="center" valign="top">•</td><td> Uporabljamo primerne postopke in čas priprave za ohranitev hranilnih snovi v zelenjavi.</br>
				
					</td></tr><tr><td align="center" valign="top">•</td><td> Zaradi vsebnosti posameznih zaščitnih snovi, ki so v tipični barvi zelenjave, priporočamo uživanje različnih barv zelenjave (zelene, bele, oranžno-rumene, rdeče in modro-vijolične).</br>
					</td></tr></table>
			</p>
	</div>
	<h3><a href="#">Vsebine - Gibanje - Spoznavanje pomena ohlajanja</a></h3>
		<div style="font-family: arial, sans-serif;">
			<center>
				<span style="font-size: 14pt;"><font color="#0000FF"><b>SPOZNAVANJE POMENA OHLAJANJA</b></font></span>
			</center>
			<p align="justify">
				Podobno vlogo kot ogrevanje ima tudi ohlajanje. Z vajami za ohlajanje in sproščanjem mišice postopno privedemo nazaj v mirovanje in tako preprečimo bolečine, neprijeten občutek ali napetost v mišicah. Ohlajanje naj vključuje raztezanje večjih mišičnih skupin, ki so bile aktivne med vadbo, temu pa naj sledi tudi sproščanje.
			</p>
	</div>
	<h3><a href="#">Vsebine - Gibanje - Seznanitev z vajami za sproščanje</a></h3>
		<div style="font-family: arial, sans-serif;">
				<center>
					<span style="font-size: 14pt;"><font color="#0000FF"><b>SEZNANITEV Z VAJAMI ZA SPROŠČANJE</b></font></span>
				</center>
				<p align="justify">
					Za sproščanje ob koncu vadbe lahko uporabimo masažo ali katero od različnih tehnik sproščanja, kot so avtogeni trening, progresivna mišična relaksacija, vizualizacija itd. Za sproščanje je pomembno, da smo nameščeni v udobnem sproščenem položaju in da nam je prijetno toplo (med sproščanjem nas po vadbi lahko začne zebsti, zato se pred sproščanjem lahko dodatno oblečemo). Predstavljamo nekaj tehnik, ki jih lahko uporabimo za sproščanje ob koncu vadbe:</br>
					</br>
					<div style="position:relative; left:40px; width:97%;">
						•&nbsp;&nbsp;<b>AVTOGENI TRENING</b> </br>
						Pri tej tehniki je pomembna vizualizacija kot tudi zavedanje telesa. Zaprite oči, globoko vdihnite in izdihnite in se osredotočite na posamezne dele svojega telesa. Sprostite napetost mišic v glavi, vratu in ramenih. Nadaljujte s sproščanjem rok, trupa, zaključite pa z nogami in prsti na njih. Odmislite vse težave, s katerimi ste se obremenjevali čez dan in pred časom. Ko ste sproščeni, si zamislite prijetno pokrajino, pri tem pa sproščeno in umirjeno dihajte. V mislih si ponavljajte pozitivne spodbude in stavke ter jih poskušajte zasidrati v zavest.
						</br></br>
						•&nbsp;&nbsp;<b>PROGRESIVNA MIŠIČNA RELAKSACIJA</b> </br>
						Pri tej tehniki se morate osredotočiti na počasno napenjanje in sproščanje vsake mišične skupine posebej, kar vam bo pomagalo prepoznati razliko med napetostjo in sproščenostjo. Tehnike se lahko lotite pri prstih na nogah in nato nadaljujete proti vrhu telesa ali pa obratno. Pomembno je, da vsako mišico napnete in jo držite v napetem stanju približno 10 sekund ter jo nato sprostite za 20 sekund.<br>
						</br></br>
						•&nbsp;&nbsp;<b>VIZUALIZACIJA</b></br>
						S tehniko vizualizacije gre za oblikovanje podob v mislih, ki vas bodo ponesle v miren, sproščujoč kraj ali položaj. Med vizualizacijo poskušajte uporabiti vse vaše čute, vključno z vonjem, vidom, sluhom in dotikom. Če si boste predstavljali na primer ležanje ob oceanu, pomislite na vonj slane vode, zvok valovanja morja in na toploto žgočega sonca. Pomembno je, da se vizualizacije lotite v tihem prostoru, da zaprete oči in se znebite oprijetih oblačil, ki vas bodo med sproščanjem le utesnjevala.
					</div>
				</p>
	</div>
	<h3><a href="#">Vsebine - Gibanje - Spoznavanje pomena samopreverjanja telesnega ravnotežja</a></h3>
		<div style="font-family: arial, sans-serif;">
					<center>
						<span style="font-size: 14pt;"><font color="#0000FF"><b>SPOZNAVANJE POMENA SAMOPREVERJANJA TELESNEGA RAVNOTEŽJA</b></font></span>
					</center>
					<p align="justify">
						Dobro ravnotežje je zelo pomembno za delovanje telesa, saj omogoča normalno gibanje in preprečuje padce in poškodbe. Vaje za ohranjanje in/ali izboljšanje ravnotežja so zlasti pomembne pri starejših, saj imajo padci pri njih hujše posledice. Zato je izrednega pomena, da redno preverjamo stanje našega ravnotežja, saj naše ravnotežje ob izvajanju ustreznih vaj lahko zelo izboljšamo.
					</p>
					<p align="justify">
						Enostavni test za preverjanje našega ravnotežja je Test stoje na eni nogi. Pri tem testu stojimo na eni nogi na trdi podlagi z odprtimi očmi in drugo nogo pokrčimo predse tako, da sta koleno in kolk pokrčena pod kotom 90 stopinj. Med izvedbo testa, naj bosta roki prekrižani na prsih ali položeni na bok. Vajo izvajamo ob steni ali oprijemalu, da se lahko ulovimo, če bi med izvajanjem le te izgubili ravnotežje. V kolikor nam zgoraj navedeni položaj uspe zadržati 60 sekund, brez da bi ob tem izgubili ravnotežje, to pomeni, da smo izpostavljeni zelo majhnemu tveganju za padce.
					</p>
					<p align="justify">
						Za trening našega ravnotežja pa lahko uporabimo naslednje vaje:</br> </br>
						
							<table width="100%"  border="0">
							<tr>
							<td valign="top" width="30px">
							<center>•</center>
							</td>
							<td>
								<b>1. vaja:</b> Stojimo sonožno na trdi podlagi (nogi imamo postavljeni drugo ob drugi) z rokama prekrižanima na prsih ali položenima na bok ter poskusimo ta položaj pri odprtih očeh zadržati 60 sekund. Vajo izvajamo ob steni ali oprijemalu, da se lahko ulovimo, če bi med izvajanjem le te izgubili ravnotežje.</br>
							</td>
							</tr>
							<tr>
							<td valign="top" width="30px">
							<center>•</center>
							</td>
							<td>
							<b>2. vaja:</b> Stojimo s stopali eno pred drugim na trdi podlagi tako, da se peta ene noge dotika prstov druge noge. Roki sta prekrižani na prsih ali položeni na bok. Ta položaj poskusimo pri odprtih očeh zadržati 60 sekund. Vajo izvajamo ob steni ali oprijemalu, da se lahko ulovimo, če bi med izvajanjem le te izgubili ravnotežje.</br>
							</td>
							</tr>
							<tr>
							<td valign="top" width="30px">
							<center>•</center>
							</td>
							<td>
							<b>3. vaja:</b> Stojimo na eni nogi na trdi podlagi in drugo nogo pokrčimo predse tako, da sta koleno in kolk pokrčene pod kotom 90 stopinj. Med izvedbo vaje naj bosta roki prekrižani na prsih ali položeni na bok. Vajo izvajamo ob steni ali oprijemalu, da se lahko ulovimo, če bi med izvajanjem le te izgubili ravnotežje. Ta položaj poskusimo pri odprtih očeh zadržati 60 sekund.</br>
							</td>
							<tr>
						</table>
					</p>
					<p align="justify">
						Zgoraj navedene vaje pa lahko otežimo tako, da jih poskusimo izvesti na trdi podlagi še z zaprtimi očmi. Vaje lahko še dodatno otežimo tako, da spremenimo podporno ploskev - uporabimo blazino iz penaste gume ali pa v naravi vaje izvajamo na travniku, makadamu itd. Tudi vaje na spremenjeni podporni ploskvi lahko izvajamo z odprtimi ali zaprtimi očmi.
					</p>
						S pomočjo vprašanj preverite, kaj ste se naučili.<br>
						
		</div>
</div>

		<table>

			<tr><td style="width:220px;">&nbsp;</td><td>&nbsp;</td></tr>
			<tr>
				<td colspan="2">
					<p><b>Dodatna gradiva:</b></p>
				</td>
			</tr>	
			<tr>
				<td colspan="2">
					<p><a target="_blank" href="/eOskrba-webapp/uploads/Pdfs/Dodatne_vsebine_4/Higiensko%20ravnanje%20s%20svezim%20sadjem%20in%20zelenjavo.pdf">Higiensko ravnanje s svežim sadjem in zelenjavo</a></p>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<p><a target="_blank" href="http://vimeo.com/17876953">5. oddaja: Uživajmo več sadja in zelenjave</a></p>
				</td>
			</tr>
		</table>

<script type="text/javascript">
   activiti_form_onLoad();
   collapseAccordions();
</script>
