<!--
  Copyright (c) 2013.
  University of Primorska, Andrej Marušič Institute. All rights reserved.

  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met: 

  1. Redistributions of source code must retain the above copyright notice, this
     list of conditions and the following disclaimer. 
  2. Redistributions in binary form must reproduce the above copyright notice,
     this list of conditions and the following disclaimer in the documentation
     and/or other materials provided with the distribution. 

  Project eOskrba (http://eOskrba.si) was financed by Slovenian Research
  Agency and Ministry of Health of Republic of Slovenia.

  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
  A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
  OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
  SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
  LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
  THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
  OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
	<p>Spodaj so vsebine za korak 7, ki so razdeljene po zavihkih. Ko jih boste prebrali, kliknite spodaj na gumb 'Nadaljuj'. Na podlagi teh vsebin boste kasneje dobili vprašanja za napredovanje v naslednji korak. Vsebine si lahko kasneje ogledate tudi v zavihku 'Izobraževanje'.</p>
	</br>
	
<div id="activiti_form_holder">

<h3><a href="#">Vsebine - Ostalo - Spoznavanje psiholoških ovir pri procesu hujšanja</a></h3>
	<div style="font-family: arial, sans-serif;">	
	<center>
		<span style="font-size: 14pt;"><font color="#FF8040"><b>SPOZNAVANJE PSIHOLOŠKIH OVIR PRI PROCESU HUJŠANJA</b></font></span>
	</center>
	<p align="justify">
		Kljub začetni navdušenosti, trdni odločenosti in vsem potrebnim informacijam proces
		hujšanja oz. spreminjanja življenjskega sloga ne poteka vedno gladko – na poti
		k želenemu cilju se neizogibno srečujemo tudi z določenimi ovirami. Nekatere so
		povsem praktične, spremenljiv delovni čas nas lahko npr. ovira pri vzdrževanju
		rednih obrokov, oddaljenost trgovine pri sestavljanju ustreznih jedilnikov,
		otrokova bolezen pri redni telesni dejavnosti … Na nekatere lahko vplivamo, jih
		preprečimo ali omilimo (npr. z dobrim načrtovanjem, iskanjem pomoči), nekatere
		pa so odvisne od zunanjih okoliščin, nad katerimi nimamo nadzora (npr. službene
		zahteve, vreme, bolezen). Pomembno je, da se zavedamo možnih praktičnih ovir in
		da smo nanje čim bolj pripravljeni oz. fleksibilni, kadar nanje nimamo vpliva.
	</p>

	<p align="justify">
		Včasih pa kljub ustreznim zunanjim pogojem in okoliščinam proces hujšanja ne poteka
		tako, kot bi moral. Takrat običajno ovire izhajajo iz nas samih - mi smo jih
		poimenovali kar psihološke ovire. V tej temi bomo na kratko opisali
		najpogostejše, v naslednji temi in tudi naslednjih dveh korakih pa podali nekaj
		predlogov za njihovo reševanje.
	</p>

	<p align="justify">
		Med najpomembnejšimi ovirami, ki vplivajo na proces hujšanja, je zagotovo
		nezadostna ali nihajoča motivacija. Posameznik, ki ni dovolj motiviran oz. je v
		obdobju, ko se mu je motivacija znižala, ne bo predano sodeloval v programu
		hujšanja, težje se bo držal navodil, prilagajal manj ugodnim zunanjim
		okoliščinam … in zato tudi težje dosegel uspeh. S temo motivacije smo se sicer
		spoznali že v 1. koraku.
	</p>

	<p align="justify">
		Z motivacijo so tesno povezana tudi posameznikova pričakovanja glede uspeha pa
		tudi samega procesa hujšanja, ki lahko predstavljajo naslednjo psihološko
		oviro. Posameznik, ki ima nerealna pričakovanja – pričakuje npr. da bo na hiter
		način izgubil precejšnje število kilogramov, je lahko ob spoznanju (s katerim
		se zagotovo sreča med procesom) zelo razočaran, kar lahko vpliva na nižjo
		motivacijo ali pa celo povzroči opustitev hujšanja. Tudi o tem več v 1. koraku.
	</p>

	<p align="justify">
		Na proces hujšanja pomembno vpliva tudi posameznikova samopodoba. Posameznik, ki
		ima negativno samopodobo in ne verjame v svoje sposobnosti, bo zato ob
		morebitnih zunanjih ovirah, hitreje opustil hujšanje, se vrnil k preteklim
		vzorcem. Prav tako bo posameznik z nizko samopodobo morda težje spremenil
		prehranjevalne navade, saj ima hrana lahko zanj tudi drugačno funkcijo – mu pomeni
		tolažbo, uteho … Več o samopodobi si boste lahko prebrali v 8. koraku.
	</p>

	<p align="justify">
		Podobno lahko tudi stres oz. neustrezno spoprijemanje s stresom predstavlja pomembno
		psihološko oviro. Posameznik, ki je pod stresom, se bo težje držal rednih
		obrokov, morda bo avtomatično posegal po hrani, da se umiri, ali izpuščal
		telesno dejavnost. Več o stresu in njegovi povezanosti s hrano ter povečano
		telesno maso si boste lahko prebrali v 9. koraku.
	</p>

	<p align="justify">
		Pri procesu hujšanja pa vas lahko ovirajo tudi številna napačna prepričanja, npr.:
<table width="100%" border="0">
		<tr>
			<td valign="top" align="center" style="width:50px;">
			•
			</td>
			<td>
				Če sem se danes pregrešil/a in pojedel/la več, kot sem nameraval/a, to pomeni, da nisem
		sposoben/na slediti programu hujšanja (občasne pregrehe se neizogibno zgodijo
		in so preizkus vztrajnosti).
		</td>
		</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>
				Hujšanje je možno samo v idealnih pogojih (pogoji niso nikoli idealni).
				</td>
			</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>
			Shujšati se da samo z zmanjševanjem vnosa hrane (brez telesne dejavnosti bo to zelo
		težko).
		</td>
			</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>Po kosilu moram nujno pojesti nekaj sladkega (kaj bi se zgodilo, če ne bi?).
</td>
			</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>Hujšanje je moja stvar, zato v to nočem vključevati drugih ljudi (ob podpori vam bo
		veliko lažje).
		</td>
			</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>Če si zaželim določeno hrano, to pomeni, da mi moje telo sporoča, da to potrebuje
		(preverite, če je to res: kaj vpliva na to, da ste si zaželeli npr. krof ravno
		v tistem trenutku – ste ga videli, vas je na to spomnil kakšen vonj, reklama,
		pogovor? …).
		</td>
			</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>
			Pojesti moram vse, kar imam na krožniku (to prepričanje imamo običajno od otroštva, a
		nam pri hujšanju ne pomaga – raje določeno količino hrane prihranimo/vzamemo s
		sabo za kasneje ali še bolje: si naložimo manj oz. delimo/naročimo manjšo
		porcijo).
		</td>
			</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>Odkloniti ponujeno hrano ni vljudno (večina ljudje bo razumela, če jim pojasnimo, da smo
		to storili, ker se držimo programa).
		</td>
		</tr>
	</table>
	</p>

	<p align="justify">
		V naslednji temi navajamo nekaj namigov, kako se soočiti s psihološkimi ovirami.
	</p>
</div>
<h3><a href="#">Vsebine - Ostalo - Premagovanje psiholoških ovir</a></h3>
	<div style="font-family: arial, sans-serif;">	
	<center>
			<span style="font-size: 14pt;"><font color="#FF8040"><b>PREMAGOVANJE PSIHOLOŠKIH OVIR</b></font></span>
	</center>

	<p align="justify">
		O strategijah, kako vplivati na motivacijo, krepiti samopodobo in se bolje
		spoprijemati s stresom, ste oz. boste prebrali v korakih, ki so tem temam
		namenjeni (1., 8. in 9.). Tu pa bi se dotaknili nekaterih splošnih predlogov,
		ki nam lahko pomagajo pri procesu hujšanja.
	</p>

	<p align="justify">V prejšnji temi smo zapisali, da lahko posameznika pri hujšanju pomembno ovirajo
	tudi njegova napačna prepričanja ali celo miti, v katere verjame. Zato je za začetek
	smiselno, da posameznik sprejme nekatera (kruta/realna) dejstva hujšanja:
	<table width="100%" border="0">
		<tr>
			<td valign="top" align="center" style="width:50px;">
			•
			</td>
			<td>
			ni preprostih rešitev brez truda (hujšanje je precej zahteven proces, ki od nas zahteva, da vanj
		 vložimo določen napor, saj se morajo naši vedenjski vzorci spremeniti);
</td>
			</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>		 ni kratkoročne spremembe z večnim rezultatom (hujšanje ni proces, ki bi trajal samo nekaj
		 mesecev, potem pa bi se lahko vrnili k prejšnjemu načinu prehranjevanja in
		 ohranjali isto težo; že večkrat smo poudarili, da je lahko uspeh trajen
		 samo, če spremenimo svoj življenjski slog – ne samo za kratek čas, ampak za
		 vedno);
		 </td>
			</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>
			enak postopek ne
		 pomeni enakega rezultata za vse (ljudje se razlikujemo že po svoji
		 biološki osnovi, zato se velikokrat zgodi, da kljub udeležbi v istem
		 programu posamezniki hujšajo različno hitro ter dosegajo tudi različne
		 končne rezultate – zato je zelo priporočljivo, da se ne primerjamo z
		 drugimi);
		 </td>
			</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>načrt v realnem
		 življenju ni vedno izvedljiv (kot smo že navedli, nam kljub dobremu načrtu
		 lahko na pot stopijo različne ovire, zato moramo biti realni in prilagodljivi);idealna
		 teža ni nujno tudi dosegljiva teža (čeprav si želimo, da bi shujšali za
		 toliko in toliko ter se za to res trudimo, to še ne pomeni, da bomo to
		 težo res lahko tudi dosegli; uspeh hujšanja oz. naša teža je namreč
		 pogojena tudi s povsem biološkimi dejavniki, ki smo jih podedovali in na
		 vse žal ne moremo vplivati).
		 </td>
		</tr>
	</table>
	</p>

	<p style='margin-left:18.0pt;text-align:justify'>Ne
	ovirajo pa nas samo napačna prepričanja o hujšanju, ampak tudi napačne
	(običajno negativne) misli o sebi. Tega se bomo bolj dotaknili v naslednjem
	koraku, zamenjevanje negativnih misli z bolj ustreznimi pa bo tudi del domače
	naloge.</p>

	<p align="justify">
		Kaj pa lahko naredimo, da
		čim bolj preprečimo trenutke slabosti? Nekaj namigov, da želja po
		''prepovedani'' hrani ali načinu prehranjevanja ne bi bila prevelika oz. da bo
		lažje vztrajati v programu:
		<table width="100%" border="0">
		<tr>
			<td valign="top" align="center" style="width:50px;">
			•
			</td>
			<td>
	- V naprej skrbno načrtujte obroke in imejte doma ustrezna, zdrava živila, da vas
	zvečer ne premami neustrezna hrana, npr. čips. 
	</td>
			</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>Vedno,
	ko si zaželite določeno hrano, se najprej ustavite in preverite, če ste zares
	lačni.
	</td>
			</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>A
	vseeno – ne jejte šele, ko ste že zelo lačni, ker je večja verjetnost, da boste
	pojedli preveč.
</td>
			</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>	Jejte
	počasi in s pozornostjo (uveljavil se je izraz čuječe iz angl. mindfully). Če
	boste bolj pozorni na hrano in na proces hranjenja (v nasprotju z avtomatičnim
	uživanjem hrane, ko se včasih sploh ne zavedamo, kaj in koliko smo pojedli),
	boste pojedli manj; lažje boste zaznali, kdaj ste siti; bolj boste uživali tudi
	v hrani, ki vam morda ni toliko všeč, je pa bolj zdrava … In kako jesti čuječe,
	kar boste imeli tudi za domačo nalogo?
	To pomeni, da ste pozorni na:
	</td>
		</tr>
	</table></p>

	<p  style='margin-left:60.0pt;text-align:justify;
	text-indent:-18.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp; vonje(kaj
	najbolj zaznavate? …)</p>

	<p  style='margin-left:60.0pt;text-align:justify;
	text-indent:-18.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp; različne
	<b>okuse</b> (je prisotnih več okusov?, kaj najbolj čutite? …), </p>

	<p  style='margin-left:60.0pt;text-align:justify;
	text-indent:-18.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp; videz</b>
	hrane (barve, struktura …),</p>

	<p  style='margin-left:60.0pt;text-align:justify;
	text-indent:-18.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp; sam
	<b>proces uživanja hrane</b> (kaj pojeste najprej?, koliko hrane si daste v
	usta?, koliko jo prežvečite? …),</p>

	<p  style='margin-left:60.0pt;text-align:justify;
	text-indent:-18.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp; občutek
	lakote/sitosti (lahko telesno zaznate, kdaj imate dovolj hrane?) </p>
<p style='text-align:justify'>
	<table width="100%" border="0">
		<tr>
			<td valign="top" align="center" style="width:50px;">
			•
			</td>
			<td>Ne
	imejte doma neustrezne (sladke, kalorične) hrane oz. če jo imate doma zaradi
	drugih članov družine, jo skrijte, da ne boste enostavno prišli do nje.</td>
			</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>Imejte
	pripravljene zdrave prigrizke (sadje, zelenjava), ko vas bo zamikalo sladko.
	</td>
			</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>Pojedli/popili
	boste manj, če boste uporabljali manjše krožnike in visoke ter ozke kozarce.
	</td>
			</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>Ko
	začnete razmišljati o hrani in veste, da niste lačni, se zaposlite s kakšno
	aktivnostjo (sprehod, hobi, pogovor …).
	</td>
			</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>Bodite
	prijazni do sebe – ne kaznujte se prehudo za prekrške in ne pozabite na pravilo
	80/20.
	</td>
			</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>Ne
	pozabite na podporo – ko boste v slabi koži in boste želeli poseči po tisti
	tortici, se obrnite na osebo, ki vam stoji ob strani (in ki je morda tudi
	podpisala vašo Pogodbo s seboj).
	</td>
		</tr>
	</table></p>

	<p style='text-align:justify'>Še enkrat naj torej
	poudarimo, da proces hujšanja oz. spreminjanja življenjskega sloga ni preprost
	in je precej naporen, vendar njegovi rezultati pomembno spremenijo vaše
	življenje na bolje. Naj vas torej ovire ne ustavijo, saj niso nepremagljive,
	izbrati morate le za vas prave načine in se zavedati, da ste jih sposobni
	preseči. Za spodbudo morda še to – mnogi so že uspešno končali program in jim
	življenje v skladu zdravimi smernicami ne predstavlja več napora ali odrekanja.</p>

	<p style='text-align:justify'>
	Za dodatne informacije in
	spodbude vam predlagamo, da si pogledate še naslednje tuje spletne strani:</br>
	<table width="100%" border="0">
		<tr>
			<td valign="top" align="center" style="width:50px;">
			•
			</td>
			<td>
			več o uspešnem hujšanju - povezava na link:<a target="_blank" href="http://www.webmd.com/diet/guide/health-and-diet-eating-healthy">http://www.webmd.com/diet/guide/health-and-diet-eating-healthy</a></br>
	</td>
			</tr>
		<tr>
			<td align="center" valign="top">
			•
			</td>
			<td>več o čuječem pristopu k hrani in prehranjevanju - povezava na link: <a target="_blank" href="http://tcme.org/principles.htm">http://tcme.org/principles.htm</a>
	</td>
		</tr>
	</table>
	</p>

</div>
<h3><a href="#">Vsebine - Gibanje - Vadbeni pripomočki</a></h3>
	<div style="font-family: arial, sans-serif;">	
	<center>
			<span style="font-size: 14pt;"><font color="#0000FF"><b>VADBENI PRIPOMOČKI</b></font></span>
	</center>
	<p align="justify">
		Za popestritev oziroma povečanje učinkovitosti in varnosti aerobne vadbe pa lahko
		uporabljamo različne vadbene pripomočke. Z uporabo merilcev srčnega utripa
		lahko spremljamo intenzivnost naše vadbe, pedomer pa uporabimo kot števec
		korakov, podobno kot nam je kolesarski števec lahko v veliko pomoč pri merjenju
		kolesarskih kilometrov.  lV veliko pomoč pri vadbi so nam lahko tudi velike in
		male terapevtske žoge, kolebnice, palice za nordijsko hojo, kolesa, različne
		fitnes naprave, kot so sobna kolesa, epileptiki, tekalne in hodalne steze,
		steperji itd.
	</p>
</div>
<h3><a href="#">Vsebine - Delovni list - Uporaba delovnega lista Negativne misli</a></h3>
	<div style="font-family: arial, sans-serif;">	
	<center>
			<span style="font-size: 14pt;"><font color="#0000FF"><b>UPORABA DELOVNEGA LISTA NEGATIVNE MISLI</b></font></span>
	</center>
	<p align="justify">
		Delovni list nam je lahko v pomoč pri zavedanju lastnih negativnih mislih, ki se nam (nehote) pojavljajo in ki nas ovirajo v našem življenju (vplivajo na motivacijo, samopodobo …). Šele, ko negativne misli pri sebi prepoznamo in ugotovimo, da niso koristne in realne, jih lahko začnemo zamenjevati z alternativnimi, bolj pozitivnimi mislimi, kar prav tako lahko vadimo v okviru delovnega lista.
	</p>
	<p align="justify">
		Izpolnitev delovnega lista je 1. del domače naloge do naslednjega tedna. 
	</p>
	<p align="justify">
	Da pa se bodo negativne misli pri vas čim manjkrat pojavljale, je potrebna vaja, zato vam predlagamo, da se čim večkrat poskušate zavedati svojih negativnih misli in jih zamenjati z alternativnimi.
	</p>
</div>

<h3><a href="#">Vsebine - Delovni list - Negativne misli</a></h3>
	<div style="font-family: arial, sans-serif;">	
	<center>
			<span style="font-size: 14pt;"><font color="#0000FF"><b>NEGATIVNE MISLI</b></font></span>
	</center>
	<p align="justify">
		Ljudje o sebi pogosto razvijemo negativne misli, ki vplivajo na našo samozavest in počutje. Te misli večkrat vsebujejo besede, ki posplošujejo: vedno, nikoli, nihče … Če jih pogosto ponavljamo, začnemo vanje verjeti, ne glede na to, ali so realne ali ne. Zato je pomembno, da pri sebi preverimo, ali imamo kakšne take negativne misli in v kakšnih situacijah se pojavijo. Ko negativne misli prepoznamo, se vprašajmo:</br>
		-	Je ta misel realna/pravilna?</br>
		-	Ali mi ta misel koristi? </br>
		Če ugotovimo, da te misli niso realne in nam ne koristijo, jih poskušajmo zamenjati z alternativnimi mislimi. Z mislimi, ki so realne, vendar vključujejo pozitiven pogled. 
	</p>

		<center><table width="500px" border="1">
			<tr height="30px" align="center">
				<td  width="250px" valign="top">
					<b>Negativna misel</b>
				</td>
				<td width="250px" valign="top">
					<b>Alternativna misel</b>
				</td>
			</tr>
			<tr>
				<td  width="250px" valign="top">
					Vse, kar naredim, je narobe.
				</td>
				<td valign="top">
					Veliko stvari naredim prav. Včeraj sem uspel/a …
				</td>
			</tr>
			<tr>
				<td valign="top">
					Nihče me ne mara/ceni, ker sem debel/a.
				</td>
				<td>
					Ljudje me sprejemajo in cenijo zaradi mene kot celote ne zaradi mojega videza.Veliko stvari naredim prav. Včeraj sem uspel/a …
				</td>
			</tr>
		</table></center>
	
	<p align="justify">
		Poskusite se tudi vi spomniti svojih negativnih misli in jih zamenjati z alternativnimi (spodnja tabela). 
	</p>
	<p align="justify">
		Radi bi poudarili, da je ta delovni list namenjen vam in ga boste lahko brali in gledali samo vi. Če vam je vseeno neprijetno ob misli, da to zapisujete v okviru spletne strani, delovni list stiskajte in izpolnite ročno. V tem primeru v 1. stolpec tega delovnega lista na spletni strani zapišite samo število negativnih misli, ki se vam pogosto pojavljajo (npr. 4).
	</p>
</div>
<h3><a href="#">Vsebine - Domača naloga - Domača naloga po 7. koraku</a></h3>
	<div style="font-family: arial, sans-serif;">	
	<center>
			<span style="font-size: 14pt;"><font color="#0000FF"><b>DOMAČA NALOGA PO 7. KORAKU</b></font></span>
	</center>
	<p align="justify">
		1.	del: Izpolnjevanje delovnega lista Negativne misli v skladu z navodili.</br>
		2.	del: Vsak dan v naslednjem tednu 1 obrok (ali vsaj prvih 5 grižljajev) pojesti s pozornostjo oz. čuječe. To pomeni:</br>
		<table width="100%" border="0"><tr><td valign="top" align="center" style="width:50px;">•</td><td> jesti počasi,
		</td></tr><tr><td align="center" valign="top">•</td><td>biti pozoren na:</br>
		
		<table width="100%" border="0"><tr><td valign="top" align="center" style="width:50px;">•</td><td>vonje (sploh kaj vonjate?, kaj najbolj zaznavate? …)
		</td></tr><tr><td align="center" valign="top">•</td><td>različne okuse (je prisotnih več okusov?, kaj najbolj čutite? …), 
		</td></tr><tr><td align="center" valign="top">•</td><td>videz hrane (barve, struktura …),
		</td></tr><tr><td align="center" valign="top">•</td><td>sam proces uživanja hrane (kaj pojeste najprej?, koliko hrane si daste v usta?, koliko jo prežvečite? …),
		</td></tr><tr><td align="center" valign="top">•</td><td>občutek lakote/sitosti (lahko telesno zaznate, kdaj imate dovolj hrane?) 
		</td></tr></table>
		</td></tr></table>
	</p>	
</div>
</div>



<script type="text/javascript">
   activiti_form_onLoad();
   collapseAccordions();
</script>
