<!--
  Copyright (c) 2013.
  University of Primorska, Andrej Marušič Institute. All rights reserved.

  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met: 

  1. Redistributions of source code must retain the above copyright notice, this
     list of conditions and the following disclaimer. 
  2. Redistributions in binary form must reproduce the above copyright notice,
     this list of conditions and the following disclaimer in the documentation
     and/or other materials provided with the distribution. 

  Project eOskrba (http://eOskrba.si) was financed by Slovenian Research
  Agency and Ministry of Health of Republic of Slovenia.

  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
  A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
  OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
  SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
  LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
  THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
  OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<div id="activiti_form_holder"> 

	<p>Žal niste pravilno odgovorili na vsa vprašanja. Prosimo, da še enkrat preberete vsebine, iz katerih so vprašanja ter ponovno odgovorite na vprašanja. Hvala!</p>
	</br>
	

	<h2>
		<a href="#">Vprašalnik - gibanje</a>
	</h2>
	<div>

		<table>
			<tr><td style="width:120px;"></td><td></td></tr>
			<tr>
				<td>
					<p>Načelo uravnotežene vadbe vključuje:</p>
				</td>

					#set($path = $items_openEHR-EHR-EVALUATION_hu_koraki_06_v1__data_at0001__items_at0004__items_at0008__value)
					<td #if ($path == '0') style="color:Green;vertical-align:middle" #else style="color:FireBrick;vertical-align:middle" #end>
						#if ($path == '0')
							25% vaj za krepitev mišic, 50 % vaj za vzdržljivost in 25% vaj za gibljivost
						#elseif ($path == '1')						
							Frekvenco, intenzivnost, trajanje in tip/vrsto vadbe
						#elseif ($path == '2')
							60 % vaj za vzdržljivost, 15% vaj za krepitev mišic in 25% vaj za gibljivost
						#end
					</td>				
			</tr>
			<tr>
				<td>
					<p>Katera trditev velja za hujšanje: </p>
				</td>

					#set($path = $items_openEHR-EHR-EVALUATION_hu_koraki_06_v1__data_at0001__items_at0004__items_at0007__value)
					<td #if ($path == '0') style="color:Green;vertical-align:middle" #else style="color:FireBrick;vertical-align:middle" #end>
						#if ($path == '1')
							Aktiven življenjski slog pri hujšanju ni pomemben, ampak je dovolj samo dieta
						#elseif ($path == '2')						
							Z aktivnim življenjskim slogom ne moremo doseči dolgoročnih učinkov v procesu hujšanja in vzdrževanja telesne mase
						#elseif ($path == '0')
							Hujšanje samo na račun prehrane vodi v zmanjšanje mišične moči in bazalnega metabolizma
						#end
					</td>				
			</tr>
			<tr>
				<td>
					<p>Katera trditev drži?</p>
				</td>

					#set($path = $items_openEHR-EHR-EVALUATION_hu_koraki_06_v1__data_at0001__items_at0004__items_at0015__value)
					<td #if ($path == '0') style="color:Green;vertical-align:middle" #else style="color:FireBrick;vertical-align:middle" #end>
						#if ($path == '1')
							V višji starosti ni več smiselno pričeti z redno telesno dejvnostjo
						#elseif ($path == '0')						
							Ne glede na zaviralne dejavnike lahko najdemo ustrezno obliko telesne dejavnosti
						#elseif ($path == '2')
							Motivacija ni tako pomembna, če je okolje primerno za telesno dejavnost
						#elseif ($path == '3')
							Telesno dejavnost lahko izvajamo samo v določenem okolju							
						#end
					</td>				
			</tr>
			<tr>
				<td>
					<p>Katera trditev drži za uravnoteženo vadbo?</p>
				</td>

					#set($path = $items_openEHR-EHR-EVALUATION_hu_koraki_06_v1__data_at0001__items_at0004__items_at0016__value)
					<td #if ($path == '0') style="color:Green;vertical-align:middle" #else style="color:FireBrick;vertical-align:middle" #end>
						#if ($path == '0')
							Aerobne vaje izvajamo večino dni v tednu
						#elseif ($path == '2')						
							Vaje za gibljvost izvajamo po potrebi
						#elseif ($path == '1')
							Vaje za krepitev mišic je potrebno izvajati vsak dan
						#end
					</td>				
			</tr>
			<tr>
				<td>
					<p>Katera trditev velja za uravnavanje telesne mase?</p>
				</td>

					#set($path = $items_openEHR-EHR-EVALUATION_hu_koraki_06_v1__data_at0001__items_at0004__items_at0017__value)
					<td #if ($path == '0') style="color:Green;vertical-align:middle" #else style="color:FireBrick;vertical-align:middle" #end>
						#if ($path == '1')
							Priporočljivo je izgubiti 30% telesne mase na račun povečanja telesne dejavnosti
						#elseif ($path == '2')						
							Trajanje sedečega časa ni pomembno, če smo telesno  dejavni vsaj pol ure dnevno
						#elseif ($path == '0')
							Mišice porabljajo več energije tudi v mirovanju
						#end
					</td>				
			</tr>			

		</table>

	</div>	
	
</div>

<p>&nbsp;</p>

<script type="text/javascript">
   activiti_form_onLoad();
</script>
